
/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    min-height: 136px;
    background-color: #000;
    width: 100%;
}

 .navbar .container-fluid{
    max-width: 1070px;
}

.navbar-brand{
    color: #FFFFFF;
    font-family: 'Prata', serif;
    font-size: 18px;

}
.nav-item{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
.navbar .nav-link{
    color: #ADADAD;
}

.navbar .btn{
    height: 56px;
    width: 170px;
    border-radius: 0px;
    background-color: #FBE850;
    color: black;
    font-family: 'Prata', serif;
}

/* Header Section */
header{
    width: 100%;
    background-color: #000;
    padding-top: 40px;
}
header .row{
    display: flex;
    justify-content: flex-start;
    max-width: 1070px;
    margin: 0 auto;
}
header .col-12{
    display: none;
}
header .hero{
    max-width: 700px;
}
header h1{
    font-size: 56px;
    color: #fff;
    font-family: 'Prata', serif;
}

header p{
    color: #ADADAD;
    font-size: 18px;
}

/* Logos Section */
.logo{
    background-color: #000;
    width: 100%;
}
.logo .row{
    display: none;
}
.logos{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 1070px;
    text-align: center;
}
/* Projects */
.pro{
    background-color: #000;
    width: 100%;
}
.pro-res{
    display: none;
}
.projects{
    background-color: #000;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 70px;
    max-width: 1070px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-card{
    max-width: 520px;
}
.project-card h2{
    font-family: 'Prata', serif;
    margin-top: 24px;
}

.project-card h2 a{
    color: white;
    text-decoration: none;
}
.project-card p{
    color: #ADADAD;
    font-size: 18px;
    padding-top: 8px;
}

.project-card-img{
    max-width: 500px;
    
}

/* About me Section */
.about{
    background-color: #2E3038;
}
.about-responsive{
    display: none;
}
.about-me{
    margin: 0 auto;
    min-height: 481px;
    max-width: 1070px;
    background-color: #2E3038;
}

.about-card{
    max-width: 520px;
}
.about-card h2 {
    font-family: 'Prata', serif;
    color: white;
    font-size: 36px;
}
.about-card p{
    color: #ADADAD;
    font-size: 18px;
}

/* Call to action */
.call{
    height: 364px;
    background-color: black;
    width: 100%;
}
.call-card{
    max-width: 530px;
    padding-top: 80px;
    
}
.call h2{
    font-family: 'Prata', serif;
    color: white;
    font-size: 36px;
}
.call p{
    color: #ADADAD;
    font-size: 18px;
}
.call-to-action{
    margin: 0 auto;
    max-width: 1070px;
}
.call-to-action .btn{
    height: 56px;
    width: 170px;
    border-radius: 0px;
    background-color: #FBE850;
    color: black;
    font-family: 'Prata', serif;
}

/* Footer Section */
footer{
    height: 72px;
    background-color: #2E3038;
    width: 100%;
}
footer .content{
    margin: 0 auto;
    padding-top: 24px;
    max-width: 1070px;
}
footer p{
    font-family: 'Prata', serif;
    color: white;
    font-size: 18px;
}
.social{
    padding-left: 16px;
}

@media screen and (max-width: 1118px) {
    /* About Secion */
    .about-responsive{
        display: block;
    }
    .about-me{
        display: none;
    }
}

@media screen and (max-width: 1081px) {
    /* Logos */
    .logos{
        padding: 0 40px;
    }
    /* Hero section */
    .projects{
        padding: 80px 40px 0 40px;
    }
}

@media screen and (max-width: 992px) {
    /* Navbar Section */
    .navbar .container-fluid{
        padding: 0 40px;
    }


    /* header section */
    header .hero{
        display: none;
    }
    header .col-12{
        display: block;
        padding: 0 40px;
        margin: 0 auto;
    }

    /* logos */
    .logos{
        padding: 0 40px; 
    }
    .projects{
        padding: 80px 40px 0 40px;
    }

    /* Projects */
    .pro{
        display: none;
    }
    .pro-res{
        display: block;
        background-color: #000;
    }
    .pro-res .row{
        padding: 80px 40px 0 40px;
    }
    .pro-res h2{
        font-family: 'Prata', serif;
        margin-top: 24px;
    }
    
    .pro-res h2 a{
        color: white;
        text-decoration: none;
    }
    .pro-res p{
        color: #ADADAD;
        font-size: 18px;
        padding-top: 8px;
    }
}

@media screen and (max-width: 664px) {
    .navbar .container-fluid{
        max-width: none;
    }

    /* Header Section */
    header .row{
        max-width: none;
    }
    header .hero{
        max-width: none;
    }
    .logos{
        max-width: none;
        display: grid;
        justify-content: left;
    }
}